.anchor {
    text-decoration: none;
    display: inline;

    /* What else could I do here instead of this novice workaround? 
    I wanted the two child elements to be on the same line but on either side of the screen */
    margin-right: 1150px;
    
}

.time {
     display: inline;
     margin-right: 1px;    
     
}

.countdown {
    display: inline;
}

.container {
    text-align: center;
}

.buttons {
    background-color: rgb(138, 9, 138);
    color: white;
    border: none;
    border-radius: 7%;
    margin: 3px;
    display: block;
}

.instructions {
    width: 75%;
    height: 40px;
    padding-left: 400px;
    padding-top: 10px;
    margin-bottom: 40px;    
}

.w3-container {
     text-align: left;     
}

.buttonStack {
    display: block;
    position: relative;
   left: 2%;
}

.w3-container h1 {
    font-size: 25px;
    font-weight: bold;
}
